body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #ebf3fb 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 42px 0;
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(../images/bg_img.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.top_button {
    /*text style*/
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* button style*/
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 72px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.top_text {
    width: 425px;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    opacity: 1;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.heading1 {
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.heading3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 14px 30px 14px 0;
}

.what_we_do {
    padding-top: 64px;
}

.card_box {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

 .card_img {
     align-self: center;
     margin-bottom: 51px;
 }

 .card_link {
     font-size: 14px;
     line-height: 30px;
     letter-spacing: 0.05em;
     color: #5A98D0;
     text-decoration: none;
 }

 .project_2_img {
     display: flex;
     justify-content: space-between;
     margin: 32px auto 112px;
 }

.footer_info {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
}

.project {}

project_image {
    width: 100%;
}

.project_item {
    position: absolute;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.heading_contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.input_text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button_style {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}